@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}

.container {
  width: 700px;
  text-align: center !important;
  margin: 90px auto;
}

#text1, #text2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav {
    height: 70px;
    display: flex;
    justify-content: center;
}
.red{
    border-radius: 15px;
    margin: 10px;
    background-color: rgba(156, 66, 66, 0.801);
    height: 20px;
    width: 20px;
    padding: 15px;
    cursor: pointer;
}
.blue{
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(0, 159, 170);
    height: 20px;
    width: 20px;
}
.green{
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
    background-color: rgba(3, 202, 53, 0.781);
    height: 20px;
    width: 20px;
}
.otherColor{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(167, 0, 97);
    height: 20px;
    width: 20px;
}
.otherColor2{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(22, 0, 73);
    height: 20px;
    width: 20px;
}
h1{
    position: relative;
    top: -70px;
}
.talk{
    margin-top: 20px;
    letter-spacing: 2px;
    width: 500px;
    margin: 10px auto;
    text-align: center;
    position: relative;
    top: -70px;
}

/* just for test. */
/*.text {color: yellow;}*/

.down-navbar {
    text-align: center;
    overflow: hidden;
    background-color: #141414;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}

.down-navbar a {
    color: white;
    text-decoration: none;
    padding: 74px;
    font-size: 40px;
}

.dark{ 
    background-color: #222; 
    color: #e6e6e6; 
} 
.theme-switch-wrapper {
    display: flex;
    align-items: center;  
}        
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    text-align: right;
}
.theme-switch input {
    display:none;
}
.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}





@media screen and (max-width: 700px)
{
    .container {
        width: 320px;
        font-size: 10px;
    }
    h1{
        position: relative;
        top: -70px;
        font-size: 29px;
    }
    .talk {
        position: relative;
        font-size: 20px;
        letter-spacing: 0;   
        width: 320px;
        top: -60px;
        text-align: center;
    }
    .down-navbar a {
        font-size: 30px;
        padding: 45px;
    }

}
